$thumbSize: 40px;
$barSize: 40px;

.range-slider-input {
  margin: 4px;
  flex: 1 0 60%;

  &__input {
    width: 100%;
    margin: 0;
    display: block;
    -webkit-appearance: none;
    background: $color-key-lime-pie;
    height: $barSize;
    cursor: pointer;
    border-radius: 5px;
    position: relative;

    &:before,
    &:after {
      position: absolute;
      content: attr(title);
      font-size: 16px;
      line-height: $barSize;
      padding: 0 10px;
      display: block;
      color: $color-kaitoke-green;
    }

    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: 3px solid $color-key-lime-pie;
      height: $thumbSize;
      width: $thumbSize;
      border-radius: 50%;
      background: $color-kaitoke-green;
      cursor: pointer;
      margin: 0;
    }

    &:focus {
      outline: none;
    }
  }
}
