$arrow-base: 3px;

.image-component {
  margin: 0 auto 8px auto;
  max-width: $content-max-width;
  overflow: hidden;
  position: relative;
  height: calc(#{$num-leds * 1px} + #{$arrow-base * 2});

  &:before {
    content: '';
    position: absolute;
    top: $arrow-base;
    left: 0;
    width: 100%;
    height: $num-leds * 1px;
    background-color: rgba($color-black, 0.5);
  }

  &__wrapper {
    height: calc(#{$num-leds * 1px} + #{$arrow-base * 2});
    position: absolute;
    left: 0;
  }

  &__canvas {
    display: block;
    margin-top: $arrow-base;
    background: rgba($color-key-lime-pie, 0.2);
    image-rendering: pixelated;
  }

  &__indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: 1px;
    background-color: rgba($color-key-lime-pie, 0.3);

    &:before,
    &:after {
      content: '';
      width: 1px;
      height: 1px;
      border: $arrow-base solid transparent;
      display: block;
      position: absolute;
      left: -$arrow-base;
    }

    &:before {
      border-top-color: $color-key-lime-pie;
      top: 0;
    }

    &:after {
      border-bottom-color: $color-key-lime-pie;
      bottom: 0;
    }

    &--hidden {
      display: none;
    }
  }

  &__button {
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
  }
}
