@import '~reset-css/sass/reset';

body {
  background: $color-kaitoke-green;
  color: $color-key-lime-pie;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

pre {
  font-family: monospace;
  padding: 2px;
}
