@mixin button() {
  display: inline-block;
  padding: 6px 12px;
  margin: 4px 4px 4px 0;
  border-radius: 5px;
  border: none;
  font-family: inherit;
  font-size: inherit;

  &:not([disabled]):not([data-disabled="true"]) {
    background-color: $color-honeysuckle;
    color: $color-kaitoke-green;

    &:hover {
      background-color: rgba($color-honeysuckle, 0.7);
      cursor: pointer;
    }

    &:focus-within,
    &:focus {
      outline: none;
      background-color: rgba($color-honeysuckle, 0.7);
    }
  }

  &[disabled],
  &[data-disabled="true"] {
    background-color: $color-chelsea-cucumber;
    color: $color-killarney;
  }
}
