@mixin button() {
  display: inline-block;
  padding: 12px 12px;
  margin: 4px 0;
  border-radius: 5px;
  border: none;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  line-height: inherit;
  vertical-align: baseline;
  flex: 0 0 calc(25% - 4px);
  //flex: 0 0 calc(33.33% - 4px);

  &:not([disabled]):not([data-disabled="true"]) {
    background-color: $color-key-lime-pie;
    color: $color-kaitoke-green;

    &:hover {
      background-color: rgba($color-key-lime-pie, 0.7);
      cursor: pointer;
    }

    &:focus-within,
    &:focus {
      outline: none;
      //box-shadow: inset $color-chelsea-cucumber 0 0 0 2px;
    }
  }

  &[disabled],
  &[data-disabled="true"] {
    background-color: $color-chelsea-cucumber;
    color: $color-dingley;
  }
}
