$color-county-green: #01371A;
$color-kaitoke-green: #004620;
$color-dingley: #5D7747;
$color-chelsea-cucumber: #83AA5D;
$color-key-lime-pie: #BFC921;
$color-black: #000000;

$content-max-width: 500px;
