$color-county-green: #01371A;
$color-kaitoke-green: #004620;
$color-killarney: #3A6A47;
$color-chelsea-cucumber: #83AA5D;
$color-honeysuckle: #EDFC84;
$color-gray: #888888;
$color-black: #000000;
$color-mine-shaft: #323232;

$content-max-width: 500px;
