$color-mystic: #e2ebed;
$color-periwinkle-gray: #c3cde6;
$color-gray-chateau: #a2aab3;
$color-rock-blue: #9eb1cd;
$color-lynch: #697e9a;
$color-cape-cod: #3c4443;
$color-mirage: #161928;

$color-froly: #f57584;

$color-delta-high: #f00;
$color-delta-medium: #fb0;
$color-delta-low: #7b2;
$color-delta-exact: #2d2;

$module-width: 700px;
