$thumbSize: 40px;
$barSize: 20px;

.fpsinput {
  display: block;
  width: 100%;
  max-width: $content-max-width;
  margin: 16px auto;
  -webkit-appearance: none;
  background: $color-honeysuckle;
  height: $barSize;
  cursor: pointer;
  border-radius: 5px;
  position: relative;

  &:before,
  &:after {
    position: absolute;
    content: attr(title);
    font-size: 14px;
    line-height: $barSize;
    padding: 0 4px;
    display: block;
    color: $color-kaitoke-green;
  }

  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 3px solid $color-honeysuckle;
    height: $thumbSize;
    width: $thumbSize;
    border-radius: 50%;
    background: $color-kaitoke-green;
    cursor: pointer;
    margin: 0;
  }

  &:focus {
    outline: none;
  }
}
